:root {
	--color-skin-1: #d5a985;
	--color-skin-2: #bb8f6a;
	--color-skin-3: #a47f5d;
	--color-skin-4: #9e7a49;
	--color-skin-5: #836e42;
	--color-skin-6: #79582a;
	--color-skin-7: #644e24;
	--color-skin-8: #4c3d09;
	--color-skin-9: #007f00;
	--color-skin-10: #0f0f0f;
	--color-skin-11: #ffffff;
	--color-skin-12: #05989f;
	--color-skin-13: #6441a4;
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--color-skin-1: color(display-p3 0.835 0.663 0.522);
		--color-skin-2: color(display-p3 0.733 0.561 0.416);
		--color-skin-3: color(display-p3 0.643 0.498 0.365);
		--color-skin-4: color(display-p3 0.62 0.478 0.29);
		--color-skin-5: color(display-p3 0.514 0.431 0.259);
		--color-skin-6: color(display-p3 0.475 0.345 0.165);
		--color-skin-7: color(display-p3 0.392 0.306 0.141);
		--color-skin-8: color(display-p3 0.298 0.239 0.035);
		--color-skin-9: color(display-p3 0 0.498 0);
		--color-skin-10: color(display-p3 0.059 0.059 0.059);
		--color-skin-11: color(display-p3 1 1 1);
		--color-skin-12: color(display-p3 0.02 0.596 0.624);
		--color-skin-13: color(display-p3 0.392 0.255 0.643);
	}
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-columns: repeat(auto, 1fr);
	gap: 2.5rem;
}

li {
	list-style: none;
}

/* preview */
section:nth-of-type(1) {
	display: grid;
	place-items: center;
	position: relative;
}

section:nth-of-type(1) img {
	display: block;
	max-height: 50lvh;
}

/* Circle under the knight */
section:nth-of-type(1) li {
	position: relative;
	display: grid;
	place-items: center;
}

/* circle under the knight */
/* https://cssanimation.rocks/spheres/ */
section:nth-of-type(1) li::after {
	content: "";
	position: absolute;
	bottom: 0.2rem;
	width: 7rem;
	height: 1.5rem;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	z-index: -1;
	filter: blur(3px);
}

/* Helmet dropdown toggle visibility */
fieldset:nth-of-type(2) input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

fieldset:nth-of-type(2)input[type="checkbox"] + label {
	cursor: pointer;
	padding: 6px 12px;
	background-color: #222;
	color: white;
	border-radius: 5px;
}

/* Dropdown hidden by default */
fieldset:nth-of-type(2) input[type="checkbox"] + label + ul {
	display: none;
	position: absolute;
	background-color: #333;
	padding: 10px;
	margin-top: 4px;
	border-radius: 8px;
	list-style: none;
}

/* Show dropdown when checked */
fieldset:nth-of-type(2) input[type="checkbox"]:checked + label + ul {
	display: flex;
	flex-direction: column;
}

/* Helmet options styling */
fieldset:nth-of-type(2) input[type="radio"] + label {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 8px;
	color: white;
	padding: 4px;
	border-radius: 5px;
}

/* Image size control */
fieldset:nth-of-type(2) input[type="radio"] + label img {
	width: 40px;
}

/* Highlight selected helmet */
fieldset:nth-of-type(2) input[type="radio"]:checked + label {
	outline: 2px solid #c7a154;
	border-radius: 5px;
}
